body {
    background-color: #444;
    color: #fff;
}

main {
    height: 100vh;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #136ecf;
}

.quadro {
    color: #000000;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
}